html {
    font-family: open Sans, sans-serif;

}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
}

section {
    width: 100%;
    display: flex;
    height: 50px;
    margin-top: 15px;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.footer {
    display: flex;
    justify-content: space-evenly;
}

.container {
    margin-top: 8px;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
}

.boxes {
    border: 2px solid #1ba5c7;
    width: 190px;
    height: 166px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: #0ea2c7;
    cursor: pointer;
    font-size: 50px;
    color: white;
    transition: all 200ms ease-in-out;
}

.boxes:hover {
    background-color: #00cafc;
    border: 2px solid #00cafc;
}


#p1 {
    width: 20px;
    height: 20px;
    padding: 10px;
    border-radius: 50%;
    border: 2px solid #219ebc;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    color: white;
    transition: all 200ms ease-in-out;

}

#p2 {
    width: 20px;
    height: 20px;
    padding: 10px;
    border-radius: 50%;
    border: 2px solid #219ebc;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    color: white;
    transition: all 200ms ease-in-out;

}

#btn1 {
    border: none;
    width: 100px;
    border-radius: 10px;
    background-color: #1ca4c6;
    color: white;
    font-weight: bold;
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

#btn1:hover {
    background-color: #00cafc;
}

#btn2 {
    border: none;
    width: 100px;
    border-radius: 10px;
    background-color: #c61824;
    color: white;
    cursor: pointer;
}

#btn2:hover {
    background-color: #f90414;
}

#winnerMsg {
    width: 90px;
    height: 40px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    color: #00c6f8;
    text-align: center;
    margin-top: 10px;
}

.border {
    background-color: #00cbfd;
}

@media (min-width:0px) {
    .container {
        width: 180px;
    }

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .boxes {
        width: 50px;
        height: 50px;
    }

    #btn1 {
        width: 60px;
    }

    #btn2 {
        width: 60px;
    }

    .nav {
        width: 200px;
    }
}


@media (min-width:320px) {
    .container {
        width: 180px;
    }

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .boxes {
        width: 50px;
        height: 50px;
    }

    #btn1 {
        width: 60px;
    }

    #btn2 {
        width: 60px;
    }

    .nav {
        width: 200px;
    }
}


@media (min-width:480px) {
    .container {
        width: 220px;

    }

    .boxes {
        width: 60px;
        height: 60px;
    }

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav {
        width: 260px;
    }
}

    @media (min-width:768px) {
        .container {
            width: 230px;
        }

        .boxes {
            width: 65px;
            height: 65px;
        }

        body {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .nav {
            display: flex;
            justify-content: space-around;
            width: 328px;
        }

        .footer {
            width: 420px;
        }
    }